@page "/Gerenciar Procedimento"
@rendermode InteractiveServer

@using ProjClinicaOdontoriso.Models;
@inject ProcedimentoDAO procedimentoDAO
@inject NavigationManager Navigation;


<PageTitle>Procedimentos</PageTitle>

<link rel="stylesheet" href="Css/styleProcedimento/StyleListarProcedimento.css">

<h1>Procedimentos</h1>

<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Nome</th>
            <th>Tempo</th>
            <th>Descrição</th>
            <th>Valor</th>
        </tr>
    </thead>

    <tbody>
        @{
            int contador = 1;
            @foreach (var procedimento in listaProcedimentos)
            {
                <tr>
                    <td>@contador</td>
                    <td>@procedimento.Nome</td>
                    <td>@procedimento.Tempo.ToString(@"hh\:mm")</td>
                    <td>@procedimento.Descricao</td>
                    <td>@procedimento.Valor</td>
                </tr>

                contador++;
            }
        }
    </tbody>
</table>

<div class="botoes-inferiores">
    <button type="button" class="botao-adicionar" @onclick="@(() => Navigation.NavigateTo("/procedimento/novo"))">Novo Procedimento</button>
</div>

@code {
    private List<Procedimento> listaProcedimentos = new();

    protected override void OnInitialized()
    {
        CarregarProcedimentos();
    }

    private void CarregarProcedimentos()
    {
        listaProcedimentos = procedimentoDAO.ListarTodos();
    }
}