@page "/GerenciarDentista"

@using ProjClinicaOdontoriso.Models.Dentista;
@inject DentistaDAO dentistaDAO;

<PageTitle>Dentista</PageTitle>

<link rel="stylesheet" href="/Css/styleFuncionario/StyleListaDenti.css">
<h1>Destista</h1>
<a href="/CadastrarDentista" class="btn btn-sm btn-primary">Novo Dentista</a>

<table class="table">
	<thead>
		<tr>
			<th>ID</th>
			<th>Nome</th>
			<th>CPF</th>
			<th>Data de Admissão</th>
			<th>Salário Inicial</th>
			<th>Carteira de Trabalho</th>
			<th>CRO</th>
			<th>Especialidade</th>
			<th>Atualizações</th>
		</tr>
	</thead>
	<tbody>
		@{
			int contador = 1;
			@foreach (var dentista in listardentista)
			{
				<tr>
					<td>@dentista.Id</td>
					<td>@dentista.Nome</td>
					<td>@dentista.CPF</td>
					<td>@dentista.DataAdmissao</td>
					<td>@dentista.SalarioInicial</td>
					<td>@dentista.CTPS</td>
					<td>@dentista.CRO</td>
					<td>@dentista.Especialidade</td>
					<td>
						<a href="/dentista/@dentista.Id/atualizar" class="btn btn-sm btn-primary mr-2">
							<i class="fas fa-edit"></i> Atualizar
						</a>
					</td>
				</tr>
				contador++;
			}

		}

	</tbody>
</table>

@code {
	private List<Dentista> listardentista = new();

	protected override void OnInitialized()
	{
		CarregarDentista();
	}

	private void CarregarDentista()
	{

		listardentista = dentistaDAO.ListarDentis();
	}
}