@page "/GerenciarFuncionario"

@using ProjClinicaOdontoriso.Models.Funcionario;
@inject FuncionarioDAO funcionarioDAO;

<PageTitle>Funcionários</PageTitle>
<link rel="stylesheet" href="/Css/styleFuncionario/StyleListaFunc.css">

<h1>Funcionario</h1>
<a href="/CadastrarFuncionario" class="btn btn-sm btn-primary">Novo Funcionário</a>

<table class="table">
	<thead>
		<tr>
			<th>ID</th>
			<th>Nome</th>
			<th>Data de Nascimento</th>
			<th>CPF</th>
			<th>RG</th>
			<th>Cargo</th>
			<th>Data de Admissão</th>
			<th>Salário Inicial</th>
			<th>Carteira de Trabalho</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var funcionario in listarfuncionario)
		{
			<tr>
				<td>@funcionario.Id</td>
				<td>@funcionario.Nome</td>
				<td>@funcionario.DataNascimento</td>
				<td>@funcionario.CPF</td>
				<td>@funcionario.RG</td>
				<td>@funcionario.Cargo</td>
				<td>@funcionario.DataAdmissao</td> 
				<td>@funcionario.SalarioInicial</td> 
				<td>@funcionario.CTPS</td>
			</tr>
		}
	</tbody>
</table>

@code {
	private List<Funcionario> listarfuncionario = new();

	protected override void OnInitialized()
	{
		CarregarFuncionarios();
	}

	private void CarregarFuncionarios()
	{
		
		listarfuncionario = funcionarioDAO.ListarFunc();
	}
}