@page "/GerenciarPaciente"
<h1>Pacientes</h1>
@using ProjClinicaOdontoriso.Models.Paciente
@inject PacienteDAO pacienteDAO
@inject NavigationManager Navigation;

<link rel="stylesheet" href="Css/stylePaciente/StyleListaPaciente.css">



<table class="table">
    <thead>
        <tr>
            <th> # </th>
            <th>Nome</th>
            <th>Idade</th>
            <th>RG</th>
            <th>CPF</th>
            <th>Telefone</th>
            <th>E-mail</th>
            <th>Sexo</th>
            <th>Raça</th>
            <th>Açoes</th>
        </tr>
    </thead>

    <tbody>

        @{
            int contador = 1;
            @foreach (var paciente in listaPaciente)
            {
                <tr>
                    <td>@contador</td>
                    <td>@paciente.Nome</td>
                    <td>@paciente.Idade</td>
                    <td>@paciente.RG</td>
                    <td>@paciente.CPF</td>
                    <td>@paciente.Telefone</td>
                    <td>@paciente.Email</td>
                    <td>@paciente.Sexo</td>
                    <td>@paciente.Raca</td>
                    <td>
                        <a href="/GerenciarPaciente/@paciente.Id/editar" class="btn btn-sm btn-primary mr-2">
                        <i class="fas fa-edit"></i> Atualizar
                    </a>
                        <a href="/GerenciarPaciente/@paciente.Id/excluir" class="btn btn-sm btn-danger">
                            <i class="fas fa-trash"></i> Excluir
                        </a>
                    </td>

                </tr>
                contador++;
            }
        }

    </tbody>

</table>

<div class="botao">
    <a href="/GerenciarPaciente/novo" class="btn btn-sm btn-primary">Novo Paciente</a>
</div>

@code {
    private List<Paciente> listaPaciente = new();

    protected override void OnInitialized()
    {
        CarregarProdutos();
    }

    private void CarregarProdutos()
    {
        listaPaciente = pacienteDAO.ListarPaciente();
    }
}
